body{
    background: #ffe4e1;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    max-width: 900px;
    margin: auto;
}
#title, #sub_title, #post_title{
    color: #fa7f72;
}

#title{
    text-transform: uppercase;
}

a{
    text-decoration: line-through;
    color:#505050;
}

.photo{
    border-radius: 50%; 
    width: 100px;
    margin-top: 15px;
    border: 5px solid #fff;
 }

.img_perfil{
    margin: auto;
    text-align: center;
}

.txt_header{
    text-align: center;
}

#post_title{
    font-size: 16px;
    font-style: italic;
    margin: 0;
    margin-bottom: 15px;
}

.post{
    background: #f5f5f5;
    padding: 15px;
    border: 1px solid #f08080;
    margin-bottom: 15px;
    border-radius: 5px;
}

.post_content{
   margin: 0;
   margin-bottom: 15px; 
   font-family: system-ui;
   text-transform: inherit;
   text-align: center;
}

.post_img{
    margin-bottom: 15px;
    width: 100%;
}

.contact_list{
    list-style-type: none;
    padding-left: 15px;
    text-align: center;
}

.contact_list li a{
    text-decoration: none;
}